.main-container section.home {
    width: 100%;
    max-width: 350px;
    margin-right: 10px;
}

.main-container section.home h1 {
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 32px;
}